body{
margin: 0;
}



/* NAVBAR */
.navbar-brand{
padding-left: 20px;
font-family: 'Marck Script', cursive;
font-size: 2rem;
}

/* MIDDLECONTAINER */
.middle-container{
background-image: url('../imagini/carti.jpg');
background-repeat:no-repeat;
background-size: cover;
background-position:center;
background-color: black;
width: 100vw;
height: 700px;
/* background-image: url('../imagini/lawpic.jpg'); */
}

h1{
padding-top:100px;
font-family: 'Cinzel', serif;
}

hr{
  width: 30%;
  text-align: center;
}

