body{
margin: 0;
}

h1{
padding-top:100px;
font-family: 'Cinzel', serif;
}

hr{
  width: 30%;
  text-align: center;
}



/* NAVBAR */
.navbar-brand{
padding-left: 20px;
font-family: 'Marck Script', cursive;
font-size: 2rem;
}
.navbar{
width: 100vw;
}

.nav-item{
padding-left:40px;
padding-right:40px;
}
/* MIDDLECONTAINER */
.middle-container{
background-image: url('../imagini/carti.jpg');
background-repeat:no-repeat;
background-size: cover;
background-position:center;
background-color: black;
width: 100vw;
height: auto;
min-height: 700px;
/* background-image: url('../imagini/lawpic.jpg'); */
}
.skilluri{
padding-top:100px;
}

.skill{
padding:100px 50px;
color: white;
text-align: center;
font-family: 'Cinzel', cursive;
font-size: 200%;
}
.skill:hover{
color: #C8DBBE
}

/* CONTAINER INTREABA */
.intreaba{
width: 100vw;
height: auto;
text-align: center;
background-color: #F9F9F9;
font-family: 'Cinzel', cursive;
}

.fa-angle-down{
padding: 10px 0;
}

/* CONTAINER CONTACT */
.contact{
background-color: #1B2430;
width: 100vw;
height: auto;
padding: 30px 0;
color: #F9F9F9;
text-align: center;
margin: 0;
}

.platforma{
padding: 20px 0;
color: #F9F9F9;
}
.platforma:hover{
color: #C8DBBE;
}



/*
PAGINA DESPRE MINE */
.body-pagina-despre{
margin: 0;
background-color: #1B2430;}

.div-andreea{
  background-image: url('../imagini/soreasca.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  background-color: black;
  width: 200px;
  height: 400px;
  position: absolute;
   right: 0;
  }

  .nav-despre{
  margin-bottom: 30px;
}
/* .soreasca{
  width: auto;
  height: auto;
  object-fit: cover;

} */




/* .imagine-principala{
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
} */
